a {
  text-decoration-line: none;
  color: white;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 5px;
  border-radius: 50px;
}
*::-webkit-scrollbar-thumb {
  background: linear-gradient(#e0eafc, #81ecec);
  border-radius: 50px;
}

#container {
  width: 100%;
  height: 100vh;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  width: 90%;
  height: 100%;
  background-color: pink;
  display: flex;
}

#leftBox {
  width: 30%;
  height: 100%;
  background-color: aqua;
}

#rightBox {
  width: 70%;
  height: 100%;
  background-color: blueviolet;
}

.profile {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-color: green;
}
