<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:title" content="saramIT" />
    <meta property="og:description" content="개발자 취업 정보는 역시 saramIT" />
    <meta
      property="og:image"
      content="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOL7fp30_vkzMyWm2-VoDegLAQtJPp41arcA&usqp=CAUL"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"
    />
    <link rel="stylesheet" href="../static/favorites.css" />
    <script
      type="text/javascript"
      src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"
    ></script>
    <title>프로젝트 테스트코드</title>
  </head>
  <script>
    window.onload = () => {
      const converted_filename = "{{ session['converted_filename'] }}";
      $(".img-circle").attr("src", `static/images/${converted_filename}`);
      let temp_html = `<div class="user_profile">
                    <img src="static/images/${converted_filename}" class="img-circle" width="100%" height="100%" style="border-radius: 50%"/>
                    </div>`;
      $("#profile_box").append(temp_html);
      $("#profile_box2").append(temp_html);
    };
  </script>
  <body>
    <nav class="navbar">
      <div class="headerContinaer">
        <div class="navbar_logo">
          <span><a href="/main">LOGO</a></span>
        </div>
        <div class="navbar_userMenu">
          <div id="profile_box"></div>
        </div>
      </div>
    </nav>
    <div class="detailBox">
      <div id="profile_container">
        <div id="profile_box2"></div>
        <a href="/userprofile"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-5 w-5"
            viewBox="0 0 20 20"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M4 5a2 2 0 00-2 2v8a2 2 0 002 2h12a2 2 0 002-2V7a2 2 0 00-2-2h-1.586a1 1 0 01-.707-.293l-1.121-1.121A2 2 0 0011.172 3H8.828a2 2 0 00-1.414.586L6.293 4.707A1 1 0 015.586 5H4zm6 9a3 3 0 100-6 3 3 0 000 6z"
              clip-rule="evenodd"
            /></svg
        ></a>
      </div>
      <div id="edit_container">
        <div class="nickName">
          <span>{{session['userId_session']}} 회원님</span>
        </div>
        <div class="scaleBox">
          <a href="/star"><span>즐겨찾기</span></a>
        </div>
        <div class="scaleBox">
          <a href="/userpassword"><span>회원정보수정</span></a>
        </div>
        <div class="scaleBox">
          <a href="/logout"><span>로그아웃</span></a>
        </div>
      </div>
    </div>
    <div id="container">
      <div id="wrapper">
        <div id="leftBox">
          <a href="/main" class="side-btn goBack-main-btn">메인화면</a>
          <a href="/userInfo" class="side-btn goto-editMem">회원정보</a>
          <a href="/star" class="side-btn goto-favor">즐겨찾기</a>
        </div>
        <div id="rightBox"></div>
      </div>
    </div>
  </body>
  <script>
    $(".navbar_userMenu").click(() => {
      $(".detailBox").slideToggle(100);
    });

    const favorite = (num) => {
      const test = $(".favorite")[num];
      const title = test.querySelector(".movie-title").innerHTML;
      const id = test.querySelector(".movie_id").innerHTML;
      const poster = test
        .querySelector(".slid_movie")
        .style.backgroundImage.split('"')[1];
      $.ajax({
        type: "POST",
        url: "/manage_star",
        data: {
          movie_id_give: id,
          movie_title_give: title,
          poster_path_give: poster,
          oder_flag_give: "delete",
        },
        success: (response) => {
          alert(response.msg);
          location.reload();
        },
      });
    };

    $.ajax({
      type: "GET",
      url: "/star_load",
      success: (response) => {
        console.log(response);
        response.favorites_list.map((data, index) => {
          const movie_id = data.movie_id;
          const image_path = data.poster_path;
          const movie_title = data.movie_title;
          let temp_html = `<div  class="favorite">
            <div class="slid_movie" style=" background-image: url('${image_path}')"/>
            <div class="movie_desc">
                <button onclick="favorite(${index})" class="favor-btn">❌</button>
                <p class="movie_id">${movie_id}</p>
                <p class="movie-title">${movie_title}</p>
            </div>
        </div>`;
          $("#rightBox").append(temp_html);
        });
      },
    });
  </script>
</html>
